<div class="example-container">

    <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="First Name">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Last Name">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="UserName">
    </mat-form-field>


    <mat-form-field>
        <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>


    <mat-form-field>
        <textarea matInput placeholder="Meal Preference"></textarea>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Department">
    </mat-form-field>


    <button mat-flat-button color="warn">Save</button>




</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->


<!--
    Email, First Name, Last Name, Display Name, Description of Meal preference, Department and Team-->