table {
    width: 100%;
    
    background-color: whitesmoke;
  }
  

  .userprofileinfo
  {
   
    overflow: auto;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
  padding: 10px;
  border-radius: 25px;
  
    

  }