table {
    width: 100%;
    
    background-color: whitesmoke;
  }
  

  .userprofileinfo
  {
   
    overflow: auto;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
  padding: 10px;
  border-radius: 25px;
  
    

  }

  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  display: flex;

justify-content: center;

  }