.container
{
    box-sizing: border-box;
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 2fr 3fr;
    grid-template-rows: 1.5fr 10fr;  
     
    grid-gap: 10px;
  
 
    grid-template-areas: 
         "t a a a a"      
         "b b c c c"  ;
  
        
}

.title
{
    grid-area: t;
  
}

.header
{
  grid-area: a;      
    background-color: grey;
    background: url(Catering-Something-Special.jpg);
}

.userform
{   grid-area: b;      
  
}

.userProfile
{   grid-area: c;           
   
}


