
@media screen and (max-width: 800px) {

  .container
{
      display: grid;    
    grid-template-columns: 1fr 1fr 1fr 2fr 3fr;
    grid-template-rows: 1.5fr 5fr 5fr;  
     
    grid-gap: 10px;
    background-color: whitesmoke;
    height: 100vh;
 
    grid-template-areas: 
         "t a a a a"      
         "b b b b b" 
         "c c c c c" ;
}
}

@media screen and (min-width: 1400px) {
.container
{
    box-sizing: border-box;
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 2fr 3fr;
    grid-template-rows: 1.5fr 10fr;  
     
    grid-gap: 10px;
    background-color: whitesmoke;
    height: 100vh;
 
    grid-template-areas: 
         "t a a a a"      
         "b b c c c"  ;
  
        
}
}

.title
{
    grid-area: t;
  
}

.header
{
  grid-area: a;      
    background-color: grey;
    background: url(https://cdn.jsdelivr.net/gh/DivasGulati/billcateringapp@master/Catering-Something-Special.jpg);
}

.userform
{   grid-area: b;      
  
}

.userProfile
{   grid-area: c;           
   
}


